%h1 Your Profile
%hr
.row
  .col-md-3
    = gravatar_image_tag current_user.email, gravatar: {size: 200}
  .col-md-9
    %p
      %b First name: #{current_user.firstname}
    %p 
      %b Last name: #{current_user.lastname}
    %p Email: #{current_user.email}
    %p= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary"

- if current_user.reviews.count > 0
  %hr
  %h3 Your Latest Reviews:

  - current_user.reviews.last(5).each do |review|
    .well
      %p= link_to review.product.title, category_product_path(review.product.category, review.product)
      %em #{review.content},
      %b rating: #{review.rating}
      %p - written at #{review.created_at.strftime("%d/%m/%y") }