%h3= category.name

%table.table
  %tr
    %th Product
    %th Description
    %th Price
    %th Avg rating
    %th
    %th

    - category.products.each do |product|
      %tr
        %td= link_to "#{product.title}", category_product_path(category, product)
        %td= product.description.truncate(20)
        %td $ #{product.price}
        %td= product.average_rating
        %td= link_to 'Edit product', edit_category_product_path(category, product) if user_signed_in? && product.user==current_user
        %td= link_to "delete", category_product_url(category, product), method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? && product.user==current_user

- if user_signed_in?
  = link_to "Add new product", new_category_product_path(category), class: "btn btn-primary"