%h1= product.title
%hr
.row
  .col-md-8.text-justify
    %p= product.description
  .col-md-4
    %p 
      %b Price: $ #{product.price} 
    %p 
      %b Average Rating: #{product.average_rating}
    
- if user_signed_in? && product.user==current_user
  = link_to 'Edit Product', edit_category_product_path(category.id, product.id)

%hr
%h3 Reviews

-if product.reviews.count > 0
  = render reviews
-else
  No reviews yet

- if user_signed_in?
  %p= link_to "Add new review", new_category_product_review_path(category, product), class: "btn btn-primary" 
- else
  %p Sign in to add reviews